@model IEnumerable<BugTrackerSuite.Models.AdminUserViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Index (Roles)</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @foreach (var role in  item.SelectedRoles)
                {
                    <p>@role</p>
                }
            </td>
            <td>
                @Html.ActionLink("Edit Roles", "EditUserRoles", new { id = item.User.Id })
                @Html.ActionLink("User Profile", "Details", new { id = item.User.Id })
            </td>
        </tr>
    }

</table>

