@{
    ViewBag.Title = "Home Page";
}

<div id="main-wrapper">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel info-box panel-dark">
                <div class="panel-body">
                    <div class="info-box-stats">
                        <p class="counter">@ViewBag.RegisteredUsersPanel</p>
                        <span class="info-box-title">Registered Users</span>
                    </div>
                    <div class="info-box-icon">
                        <i class="icon-users"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress progress-xs progress-squared bs-n">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=@ViewBag.RegisteredUsersPanel aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.RegisteredUsersPanel%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel info-box panel-dark">
                <div class="panel-body">
                    <div class="info-box-stats">
                        <p class="counter">@ViewBag.ProjectsPanel</p>
                        <span class="info-box-title">Projects</span>
                    </div>
                    <div class="info-box-icon">
                        <i class="icon-eye"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress progress-xs progress-squared bs-n">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.ProjectsPanel" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.ProjectsPanel%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel info-box panel-dark">
                <div class="panel-body">
                    <div class="info-box-stats">
                        <p class="counter">@ViewBag.TicketsPanel</></p>
                        <span class="info-box-title">Tickets</span>
                    </div>
                    <div class="info-box-icon">
                        <i class="icon-basket"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress progress-xs progress-squared bs-n">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@ViewBag.TicketsPanel" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.TicketsPanel%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel info-box panel-dark">
                <div class="panel-body">
                    <div class="info-box-stats">
                        <p class="counter">@ViewBag.NotificationsPanel</p>
                        <span class="info-box-title">Notifications</span>
                    </div>
                    <div class="info-box-icon">
                        <i class="icon-envelope"></i>
                    </div>
                    <div class="info-box-progress">
                        <div class="progress progress-xs progress-squared bs-n">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@ViewBag.NotificationsPanel" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.NotificationsPanel%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row -->
    @*<div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h4 class="panel-title">Project Stats</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive project-stats">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Project</th>
                                    <th>Status</th>
                                    <th>Manager</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">452</th>
                                    <td>Mailbox Template</td>
                                    <td><span class="label label-info">Pending</span></td>
                                    <td>David Green</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Action <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">327</th>
                                    <td>Wordpress Theme</td>
                                    <td><span class="label label-primary">In Progress</span></td>
                                    <td>Sandra Smith</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">226</th>
                                    <td>Modern Admin Template</td>
                                    <td><span class="label label-success">Finished</span></td>
                                    <td>Chritopher Palmer</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">178</th>
                                    <td>eCommerce template</td>
                                    <td><span class="label label-danger">Canceled</span></td>
                                    <td>Amily Lee</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">157</th>
                                    <td>Website PSD</td>
                                    <td><span class="label label-info">Testing</span></td>
                                    <td>Nick Doe</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">157</th>
                                    <td>Fronted Theme</td>
                                    <td><span class="label label-warning">Waiting</span></td>
                                    <td>David Green</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@<!-- Main Wrapper -->


    @model IEnumerable<BugTrackerSuite.Models.CodeFirst.Project>

    @{
        ViewBag.Title = "Project Index";
    }

    <link href="~/admin1/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin1/assets/plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css" />
    <div id="main-wrapper">

        <h2>Project Index (Assignments)</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="MyTable" class="display table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Updated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        TimeZone
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorId)
                    </th>
                    <th>Users</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ToUserTime(item.Created, ViewBag.UserTimeZone as string)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorId)
                        </td>
                        <td>
                            @foreach (var user in item.Users)
                {
                                @user.FullName<br />
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Assign Projects", "EditProjectUsers", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>









@section Scripts {
    <script src="~/admin1/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/admin1/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="~/admin1/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
    <script src="~/admin1/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/admin1/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/admin1/assets/plugins/curvedlines/curvedLines.js"></script>
    <script src="~/admin1/assets/js/pages/dashboard.js"></script>





    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/admin1/assets/js/pages/table-data.js"></script>

    <script>
        $("#MyTable").DataTable();
    </script>

}